 body {
    background-color: #464C5E;
 
    }
    
.titolo {
    font-size: xx-large;
    color: #00FF98 ;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.sottotitolo {
    font-size: larger;
    color:#449474;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    }   

p {
    color: #4a8b71;
    font-size: medium;
    text-align: center;
    text-justify: inter-word;
    display: flex;
    justify-content: center;
    }

.centro { 
    display: flex;
    justify-content: center;
    align-items: center;
    }

.centrob { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    }

.centrob iframe {
    outline-style: groove;
    outline-width: 10px;
    outline-color: #00FF98;
}

.navbar {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    background-color: #075888;
    background-size: cover;
    padding: 10px 20px;
    top: 0px;
    }
.navlist {
    display: flex;
    list-style: none;
}
.navlist li {
    margin-right: 20px;
}

.navlist li:last-child {
    margin-right: 0;
}
.navlist li a:hover {
    color:#00FF98
}
